<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale-1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../static/css/all.css">
    <title>书城首页</title>
</head>

<body>
    <div id="root"></div>

    <script src="../static/js/vue.js"></script>
    <script src="../static/js/zepto.js"></script>
    <script src="../static/js/pages/index.js"></script>
</body>

</html>